@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import "~slick-carousel/slick/slick.css"; 
@import "~slick-carousel/slick/slick-theme.css";


@layer base {
    html {
        font-family: 'Poppins', sans-serif;
    }
    .before-element::before {
      content: "";
      @apply w-[45px] h-[2px] bg-tomatoes absolute top-[50%] left-[110%];
    }
    .react-multiple-carousel__arrow--left  {
      background: red;
    }
  }
  @font-face {
    font-family: "ricordi";
    src: url("../fonts/tt_ricordi.otf");
  }
  @font-face {
    font-family: "tomatoes";
    src: url("../fonts/Tomatoes.ttf");
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  
  .scrollbar-hide {
    -ms-overflow-style: none; 
    scrollbar-width: none; 
  }
  @keyframes type {
    from { box-shadow: inset -3px 0 0 #888; }
    to { box-shadow: inset -3px 0 0 transparent; }
}

.animate-type {
    animation: type .5s alternate infinite;
}
.block-content {
  margin-bottom: 1em;
}